<%= form_with(model: rubro, local: true) do |form| %>
  <% if rubro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rubro.errors.count, "error") %> prohibited this rubro from being saved:</h2>

      <ul>
        <% rubro.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :estatus %>
    <%= form.check_box :estatus %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
