<p id="notice"><%= notice %></p>

<h1>Rubros</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rubros.each do |rubro| %>
      <tr>
        <td><%= rubro.nombre %></td>
        <td><%= rubro.estatus %></td>
        <td><%= link_to 'Show', rubro %></td>
        <td><%= link_to 'Edit', edit_rubro_path(rubro) %></td>
        <td><%= link_to 'Destroy', rubro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rubro', new_rubro_path %>
