<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @rubro.nombre %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @rubro.estatus %>
</p>

<%= link_to 'Edit', edit_rubro_path(@rubro) %> |
<%= link_to 'Back', rubros_path %>
