<p id="notice"><%= notice %></p>

<p>
	<strong>Nombre:</strong>
	<%= @categori.nombre %>
</p>

<p>
	<strong>Estatus:</strong>
	<%= @categori.estatus %>
</p>

<%= link_to 'Edit', edit_categori_path(@categori) %> |
<%= link_to 'Back', categoris_path %>