<div class="text-center">
	<h2>Inicie Sesión </h2>


	<%= image_tag( "logo-rojo.png", size: "150x150", :alt => "logo") -%>
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
	</div>

	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password, autocomplete: "current-password" %>
	</div>

	<% if devise_mapping.rememberable? %>
	<div class="field">
		<%= f.check_box :remember_me %>
		<%= f.label :remember_me %>
	</div>
	<% end %>

	<button class="btn be-red"><%= f.submit "Entrar" %></button>

	<% end %>

	<%= render "devise/shared/links" %>

</div>