   <div class="text-center">  

      <%= form_for([@negocio,@producto]) do |form| %>
        <% if @producto.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

            <ul>
              <% @producto.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :nombre %>
          <%= form.text_field :nombre %>
        </div>

        <div class="field">
          <%= form.label :estatus %>
          <%= form.check_box :estatus %>
        </div>

        <div class="field">
              <%= form.label :categori_id, "Categoria del Producto" %>
              <%= form.select("categori_id", Categori.all.collect {|p| [p.nombre , p.id] }, {include_blank: 'Seleccione'}) %>
        </div>


        <div class="field">
          <%= form.label :precio_dolar %>
          <%= form.text_field :precio_dolar %>


        </div>

        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
      
</div>