<p id="notice"><%= notice %></p>

<h1>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</h1>

<h1>
  <strong>Estatus:</strong>
  <%= @producto.estatus %>
</h1>

<h1>
  <strong>Categoria:</strong>
  <%= @producto.categori_id %>
</h1>

<h1>
  <strong>Precio dolar:</strong>
  <%= @producto.precio_dolar %>
</h1>



<%= link_to 'Edit', edit_negocio_producto_path(@producto) %> |
<%= link_to 'Back', negocio_path(@negocio) %>
