nav{
}

p{
	font-size: 110%;
	display: inline-block;
}

body{
	font-family: 'Franklin Gothic Medium', Arial, sans-serif;
	background: url(fondo3.jpg);
	/*background-repeat:repeat-x;*/
	background-attachment: fixed;
	background-position: 30% 0;

    line-height: 10px;
    color: black;
}

td{  
  font-size: 25px;
  padding: 5 30px 30px;
  line-height: 30px;
}
th {
  padding-bottom: 5px;
  font-size: 25px;
    line-height: 30px;

}

button{
line-height: 0px;
margin-bottom: 0px;
}

ul{
	font-size: 100%;
	list-style: none;
}

div{
	line-height: 20px; 
  	margin: 0px 0px;
  	padding: 3px;
}

p {

}

.fondo{
	background: url(fondo.png);
}

.white{
	color: white;

}

.fondo2{
	color:white;
	background-color: #343a40;
}


.no-margin{
	margin: 0px;
}

.center{
        text-align:center;
}

.padre {
   display: flex;
   align-items: center;
}

.btn{
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	background-color: inherit;
	border: samp;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	color: white;
	padding: 5%;
	font-size: 140%;
}

.btn-default{
	padding-bottom: 0px;
}

.red{
	font-size: 110%; 
	color: red;
}

.green{
	font-size: 110%;
	color: #6f6;
}

.field{
	margin-top: 1em;
	padding: 2px 2px
}

a,a:visited{
	color: inherit !important;
	text-decoration: none;
}
.form-control{
	border: double;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10 px 3px;
	font-size: 1em;
	border-color: rgb(51, 51, 255);
}

.be-red{
	width: 100%;
	height: 10%;
	/*background: url(fondo.png);*/
}


.text-left{
	text-align: left;

}

.style{
    height: 250px;
}