<div class="text-center">
      <%= form_with(model: negocio, remote: true) do |form| %>
        <% if negocio.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(negocio.errors.count, "error") %> prohibited this negocio from being saved:</h2>

            <ul>
              <% negocio.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :nombre %>
          <%= form.text_field :nombre %>
        </div>


        <div class="field">
          <%= form.label :correo %>
          <%= form.text_field :correo %>
        </div>


        <div class="field">
          <%= form.label :direccion %>
          <%= form.text_field :direccion %>
        </div>

        <div class="field">
          <%= form.label :documento_legal %>
          <%= form.number_field :documento_legal %>
        </div>

        <div class="field">
          <%= form.label :tipo_documento_legal %>
          <%= form.select( :tipo_documento_legal, ["V" , "J"] , {include_blank: 'Seleccione'})  %>
        </div>

        <div class="field">
          IMAGEN DE TU NEGOCIO <%= form.file_field :imagen %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
</div>