
      <div class="jumbotron p-3 p-md-5 text-black rounded fondo2">

        <div class="col-md-6 px-2">

        <% if user_signed_in? %>
              <h2> Hola <%= current_user.email %></h2>
        <%end%>

          <h1 class="display-4 font-italic">Bienvenido a Global Busines.</h1>

          <p class="lead my-3">Donde podras encontrar los negocios segun la ubicacion que desees, y ver sus productos como si estuvieras en la propia tienda.</p>
       
        </div>


      </div>




      <div class="row mb-2">

                   <% @negocios.each do |negocio| %>  
              <div class="col-md-6 px-2">
               
                          <div class="card flex-md-row mb-4 shadow-sm style">

                                <div class="card-body d-flex flex-column align-items-start">

                                      <h3 class="mb-0"><%= negocio.nombre %></h3>
                                        
                                      

                                      <div class="mb-1">

                                        <td><%= negocio.direccion %></td>
                                        <br> 
                                        <td><%= negocio.correo %></td>
                                        
                                      </div>    
                                      <div >

                                        <td><%= link_to 'Edit', edit_negocio_path(negocio) %></td>
                                        <td><%= link_to 'Destroy', negocio, method: :delete, data: { confirm: 'Are you sure?' } %></td>

                                      </div>    

                                      <a class="btn" href="#"><%= link_to 'Visitar Negocio', negocio %></a>
                                </div>

                                <div ><%= image_tag( negocio.imagen.url(), size: "50x50", :alt => "logo" ) -%></div>

                          </div>

              </div>
                   <% end %>
                    
      </div>
<div class="text-center">
  <h1><%= link_to '!Ingresa ya mismo tu Negocio con nosotros!', new_negocio_path %></h1>
</div>



