<p id="notice"><%= notice %></p>

<div class="col-md-6 px-0"> 
      <h1 class="display-4 font-italic"> <%= @negocio.nombre %> </h1>
      <p class="lead my-3"> Información: </p> <br>
      <p class="lead mb-0">Correo Electronico: <%= @negocio.correo %></p><br>
      <p class="lead mb-0">Dirección: <%= @negocio.direccion %></p>
    </div>
    <br>
    <br>
<div>

  <h1>Negocio elaborado por <%= @negocio.user.email%></h1>

</div>

<h1>Productos</h1>

 <div class="row mb-2">
                   <% @negocio.productos.each do |producto| %>  
              <div class="col-md-6">
               
                          <div class="card flex-md-row mb-4 shadow-sm h-md-250">

                                <div class="card-body d-flex flex-column align-items-start">

                                  <h3 class="mb-0">
                                    <a class="text-dark" href="#"><%= producto.nombre %> </a>
                                  </h3>

                                  <div class="mb-1 text-muted"><%= producto.nombre %></div>
                                 <%if producto.estatus %>    
                                  <div class="green">DISPONIBLE</div> 
                                 <%else %>  
                                  <div class="red">NO DISPONIBLE</div>
                                 <%end%> 

                                  <div >PRECIO: <%= producto.precio_dolar %> $</div>    
                                  <% if user_signed_in? %>
                                  <div >              
                                    <td><%= link_to 'Editar',  edit_negocio_producto_path(@negocio,producto) %></td>
                                    <td><%= link_to 'Destruir', negocio_producto_path(@negocio,producto), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                  </div>    
                                  <%end%>

                                </div>
                                <h1 class="card-img-right flex-auto d-none d-lg-block" style="width: 300px; height: 250px;margin: 5px;"><%= image_tag( "oreo.jpg", size: "250x250", :alt => "logo") -%></h1>

                          </div>

              </div>
                   <% end %>

  </div>




<div class="field">

  <h3>Productos</h3>
  <%= render "productos/form" %>
  
</div>

<%= link_to 'Edit', edit_negocio_path(@negocio) %> |
<%= link_to 'Back', negocios_path %>


