<!DOCTYPE html>
<html>

<head>
	<title>Global Business</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<header class="container-fluid bg-dark text-white h-20">
		<nav class="navbar navbar-expand-lg">

			<div class='navbar-brand'>
				<%= image_tag("logo4.png", size: "150x150", :alt => "logo") -%>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<%= link_to "Negocios", negocios_path, class: 'btn btn-outline-secondary btn-sm text-decoration-none' %>
					</li>
					<% unless user_signed_in? %>
					<li class="nav-item">
						<%= link_to "Iniciar Sesión", user_session_path, class: 'btn btn-outline-secondary btn-sm text-decoration-none' %>
					</li>
					<li class="nav-item">
						<%= link_to "Registrarme", new_user_registration_path, class: 'btn btn-outline-secondary btn-sm text-decoration-none' %>
					</li>
					<%end %>
					<% if user_signed_in? %>
					<li class="nav-item">
						<%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: 'btn btn-outline-secondary btn-sm text-decoration-none' %>
					</li>
					<%end %>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
	</header>

	<section class="container">
		<%= yield %>
	</section>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</body>

</html>